@model IEnumerable<FirstPractice2.Models.Product>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@{
    ViewBag.Title = "每個產品的資訊";
}
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery-tablepage.js"></script>
<script type="text/javascript" src="jquery.tablesorter.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/knockout-3.5.1.debug.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <form action="" method="post" id="form1" name="form1">
        <table class="table table-bordered table-hover " border="1">
            <thead>
                <tr class="dh">
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>SupplierID</th>
                    <th>CategoryID</th>
                    <th>QuantityPerUnit</th>
                    <th>UnitPrice</th>
                    <th>UnitsInStock</th>
                    <th>UnitsOnOrder</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: oProds" class="tbd">
                <tr class="dl">
                    <td data-bind="text: ProductID"></td>
                    <td data-bind="text: ProductName"></td>
                    <td data-bind="text: SupplierID"></td>
                    <td data-bind="text: CategoryID"></td>
                    <td data-bind="text: QuantityPerUnit"></td>
                    <td data-bind="text: UnitPrice" class="dlr"></td>
                    <td data-bind="text: UnitsInStock" class="dlr"></td>
                    <td data-bind="text: UnitsOnOrder" class="dlr"></td>
                </tr>
            </tbody>

        </table>

    </form>

</body>

</html>
<script>
    $(document).ready(function () {
                $.getJSON('@Url.Action("Index6", "Product")', null, function (oProdsData,status,xhr) {

                    var viewModel = {
                            oProds: ko.observableArray(oProdsData)
                    };
                    $(function () {
                        var $table = $('table');
                        var currentPage = 0;
                        var pageSize = 10;
                        $table.bind('paging', function () {
                            $table.find('tbody tr').hide().slice(currentPage * pageSize, (currentPage + 1) * pageSize).show();
                        });
                        var sumRows = $table.find('tbody tr').length;
                        var sumPages = Math.ceil(sumRows / pageSize);

                        var $pager = $('<div class="page"></div>');
                        for (var pageIndex = 0; pageIndex < sumPages; pageIndex++) {
                            $('<a href="#" id="pageStyle" onclick="changCss(this)"><span>' + (pageIndex + 1) + '</span></a>').bind("click", { "newPage": pageIndex }, function (event) {
                                currentPage = event.data["newPage"];
                                $table.trigger("paging");

                            }).appendTo($pager);
                            $pager.append(" ");
                        }
                        $pager.insertAfter($table);
                        $table.trigger("paging");


                        var $pagess = $('#pageStyle');

                    });
                    ko.applyBindings(viewModel);
                });
                 


                 function changCss(obj) {
                     var arr = document.getElementsByTagName("a");
                     for (var i = 0; i < arr.length; i++) {
                         if (obj == arr[i]) {
                             obj.style.backgroundColor = "#006B00";
                             obj.style.color = "#ffffff";
                         }
                         else {
                             arr[i].style.color = "";
                             arr[i].style.backgroundColor = "";
                         }
                     }
            }

        });



</script>
<style>
    table {
        width: 600px;
        text-align: center;
    }

        table tr th, td {
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
        }

    #pageStyle {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #CCC;
        line-height: 32px;
        text-align: center;
        color: #999;
        margin-top: 20px;
        text-decoration: none;
    }

        #pageStyle:hover {
            background-color: #CCC;
        }

        #pageStyle .active {
            background-color: #0CF;
            color: #ffffff;
        }
</style>
